* {
  color: lightpink;
  padding: 1rem;
  margin: 0;
}

.header-container {
  background: linear-gradient(to right, #cbbfce, #8eaec0);
  padding: 18px;
  margin: 1rem;
  border: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: baseline;
}

.about-me {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

.about-me img {
  width: 150px;
  border-radius: 50%;
  height: auto;
  transform: scaleX(-1);
  filter: FlipH;
  /* order: -1; */
  transform: rotateX(50%);
  shape-outside: shadow(10 10 10 0);
}

.about-me h1 {
  text-align: left;
}

.about-me h3 {
  order: 1;
}

.more {
  align-self: last baseline;
  display: flex;
}

.more button {
  touch-action: auto;
  text-align: right;
  align-self: flex-end;
  margin-top: 20rem;
}

.body-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  /* background-color: darksalmon; */
  align-content: first baseline;
  align-content: space-between;
}

.paragraph {
  display: flexbox;
  flex-flow: column nowrap;
  gap: 20px;
  background: linear-gradient(to right, #9c899b69, #8eaec0, #cbbfce);
  align-items: right;
}

.paragraph img {
  text-align: justify;
  width: 100px;
  height: auto;
  align-self: right;
  margin: 0;
  background-blend-mode: 20%;
}

.paragraph p1 {
  text-align: right;
  display: block;
  border-radius: 12px;
  display: -moz-box;
  text-align: start;
}

/* .paragraph p2 { */
  text-align: justify;
  display: flexbox;
}

/* .paragraph p3 { */
  text-align: justify;
  display: flexbox;
}

/* .paragraph p4 { */
  text-align: justify;
  display: flexbox;
}
